__pycache__
*.env
.env_local
.env_deploy
.venv/
venv/
testenv/
pong/media/
postgres_data/
migrations
staticfiles
.venv
__pycache__
*.env
pong/testenv
testenv
tags
myenv
.vscode
generate.py
node_modules
en.subject*
subject.*
*.log
cloudflared/config.yml
/pong/blockchain/hardhat/artifacts/
/pong/blockchain/hardhat/cache/
/pong/blockchain/hardhat/experimental/
