__pycache__
.env
.venv/
venv/
testenv/
pong/media/
postgres_data/
migrations
staticfiles
.venv
__pycache__
.env
pong/testenv
testenv
tags
myenv
.vscode
generate.py
node_modules
en.subject*
subject.*
/pong/blockchain/static/blockchain/contracts/*