/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
	font-family: 'Orbitron', sans-serif;
	tab-size: 4 !important;
}

/* General body styling */
body {
  background-color: #f0f4f8; /* Light background color */
  color: #222; /* Dark text color */
  text-align: center;
  margin: 0;
  padding: 20px;
}

/* Header styling */
h1 {
  color: #007bff; /* Primary color */
  margin-bottom: 10px;
}

h2 {
  color: #0056b3; /* Slightly darker primary color */
  margin-bottom: 15px;
}

h3 {
  color: #333; /* Dark text color */
  margin-bottom: 20px;
}

/* Form button styling */
button {
  background-color: #007bff; /* Primary color */
  color: #fff; /* White text */
  border: none;
  border-radius: 8px; /* Rounded corners */
  padding: 5px 12px; /* Padding */
  font-size: 0.6em; /* Larger text */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

/* Button hover effect */
button:hover {
  background-color: #0056b3; /* Darker shade of primary color */
  transform: translateY(-2px); /* Slightly lift the button */
}

/* Button focus effect */
button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5); /* Focus outline */
}

/* Image styling */
img {
  width: 30%;
  height: auto;
  margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  button {
    padding: 12px 25px;
    font-size: 1em;
  }

  img {
    width: 50%;
  }
}

@media (max-width: 480px) {
  button {
    padding: 10px 20px;
    font-size: 0.9em;
  }

  img {
    width: 60%;
  }
}

