<!-- <textarea id="chat-log" cols="100" rows="20"></textarea><br> -->
<!-- <input id="chat-message-input" type="text" size="100"><br> -->
<!-- <input id="chat-message-submit" type="button" value="Send"> -->
<!-- <p id="room-name" type="text" size="100" value="default">lobby</p> -->


<div class="container-fluid chat-container">
	<div class="row">
		<div class="col-12 text-center">
			<h1 id="room-name">Lobby</h1>
		</div>
	</div>
	<div class="row flex-fill">
		<div class="col-12">
			<textarea id="chat-log" class="form-control" rows="14" readonly></textarea>
		</div>
	</div>
	<div class="row">
		<div class="col-10">
			<input id="chat-message-input" class="form-control" type="text" placeholder="Type your message here...">
		</div>
		<div class="col-2">
			<button id="chat-message-submit" class="btn btn-primary btn-block">Send</button>
		</div>
	</div>
</div>
