{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transcendence</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="d-flex flex-column min-vh-100">
    <div class="container flex-grow-1 d-flex flex-column justify-content-center">
        <div id="content">{% block content %}{% endblock %}</div>
    </div>

    {% include 'footer.html' %}

    {% block javascript %}
    
    <script>        var redirectEndpoint = "{{ redirect_endpoint }}";  // Pass the endpoint to JavaScript
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    
        <script src="{% static 'js/app.js' %}"></script>
    {% endblock %}
</body>
</html>
 
