{% load static %}
<h3> Play on the same computer with others ( offline )</h2>

 <div class="row align-items-start">

<div class="col">
    <img src="{% static 'assets/user.svg' %}" alt="Logo" class="navbar-brand ms-auto" style="height: 42px;">
</div>

<div class="col">
	    <img src="{% static 'assets/user.svg' %}" alt="Logo" class="navbar-brand ms-auto" style="height: 42px;">
</div>

<button id="StartLocalGameButton" type="button" class="btn btn-outline-primary" >Start</button>
</div>
    <!-- TODO TAKE BUTTON AND REDIRECT TO GAME , CHANGE ALSO main.js -->
