<!DOCTYPE html>
<html>
<head>
  <title>OAuth2 Callback</title>
</head>
<body>
  <h1>OAuth2 Callback</h1>
  <p id="stateParagraph"></p>
  <script>
    // Extract the authorization code and state from the URL query parameters
    const urlParams = new URLSearchParams(window.location.search);
    const code = urlParams.get('code');
    const state = urlParams.get('state');

    // Make a server-side request to exchange the code for an access token
    const data = {
      grant_type: 'authorization_code',
      client_id: 'u-CLIENT_IF',
      client_secret: 's-client_secret',
      code: code,
      redirect_uri: 'https://42test.ktano-studio.com/redirect.html' // Same as redirect_uri in the authorization request
    };

    fetch('https://api.intra.42.fr/oauth/token', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded',
        'SameSite': 'None'
      },
      body: new URLSearchParams(data)
    })
      .then(response => response.json())
      .then(data => {
        const accessToken = data.access_token;
        console.log('Access Token:', accessToken);
      })
      .catch(error => {
        console.error('TOKEN Error:', error);
      });
  </script>
</body>
</html>


