<!DOCTYPE html>
<html>
<head>
    <title>Student Information</title>
</head>
<body>
    <h1>Online Students</h1>
    
        {% if user_data %}
            <li>ID: {{ user_data.id }} Email: {{ user_data.email }}</li>
            <li>Login: {{ user_data.login }}</li>
            <li>Display Name: {{ user_data.displayname }}</li>
            <p> Campus : {{ user_data.campus.name }}</p>
            <img src="{{ user_data.image.versions.small }}" alt="Profile Image">
            
        {% else %}
            <li>No user data available</li>
        {% endif %}
    
</body>
</html>

