<div class="card p-2 shadow-sm bg-secondary-subtle mt-5">
    <div class="card-header text-center">
        <h1 class="display-4 glitch" data-text="404 Error">404 Error</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <p class="lead">Oopsie! The page you're looking for doesn't exist.</p>
                <button class="btn btn-light btn-sm" onclick="history.back()">Go Back</button>
            </div>
        </div>
    </div>
</div>
