{% csrf_token %}
<div id="game-container" class="container-fluid" style="display: none">GAME</div>
<div class="container-fluid chat-container">
  <div class="row">
    <div class="col-12 text-center">
      <h1 id="room-name">{{ room_name }}</h1>
    </div>
  </div>

  <div class="row flex-fill">
    <div class="col-10">
      <textarea id="chat-log" class="form-control" rows="14" readonly></textarea>
    </div>
    <div class="col-2">
      <div class="container" id="chat-userlist"></div>
    </div </div>
    <div class="row">
      <div class="col-10">
        <label id="chat-username">{{ user.username }}</label>
        <input id="chat-message-input" class="form-control" type="text" autocomplete="off"
          placeholder="Type your message here..." />
      </div>
      <div class="col-2">
        <div class="col-2 text-center" style="margin-top: 25%">
          <button id="chat-message-submit" class="btn btn-primary btn-block">
            Send
          </button>
        </div>
      </div>
    </div>
  </div>
