<div class="cookie-consent-footer bg-dark text-light p-3" id="cookieConsentFooter" style="display: none; position: absolute; bottom: 2rem; left: 0; width: 100%; z-index: 101;">
<div class="container d-flex justify-content-between align-items-center">
    <div>
        <h2 class="mb-0">🍪</h2>
        <p class="mb-0">We only use the tastiest essential cookies to enhance your browsing experience. By clicking "NOMNOM" or continue using the site, you consent to our use of cookies.</p>
    </div>
    <div>
    <button type="button" class="btn btn-secondary me-2" id="cookiePreferencesButton">Manage Preferences</button>
    <button type="button" class="btn btn-primary" id="acceptCookiesButton">NOMNOM</button>
    </div>
</div>
</div>
