<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card p-2 bg-secondary-subtle">
                <div class="card-header bg-dark text-success d-flex align-items-center justify-content-between">
                    <button class="btn btn-light btn-sm" onclick="history.back()">Go Back</button>
                    <h5 class="mb-0">Home</h5>
                </div>
                <div class="card-body text-center">
                    {% if user.is_authenticated %}
                        <div class="card-header bg-secondary-subtle text-success d-flex align-items-center justify-content-between">
                            <h4 class="mb-0">Welcome, {{ user.profile.alias }}!</h4>
                            <img src="{{ user.profile.image.url }}" class="rounded border border-2 border-info account-img" height="42" width="42" loading="lazy" />
                        </div>
                        <div class="card-body bg-dark-subtle text-center">
                            <p>Here you can access the features of the application:</p>
                            <p><a href="#/play" class="btn btn-secondary">Play Local</a></p>
                            <p><a href="#/online-game" class="btn btn-primary">Play Online Game</a></p>
                            <p><a href="#/logout" class="btn btn-danger">Logout</a></p>
                        </div>

                    {% else %}
                        <div class="card-header bg-secondary-subtle text-success d-flex align-items-center justify-content-between">
                            <h1>Welcome to Transcendence</h1>
                        </div>
                        <div class="card-body bg-dark-subtle text-center">
                            <p><a href="#/play" class="btn btn-secondary">Play Local</a></p>
                            <p>Please <a href="#/login" class="btn btn-outline-primary">Login</a> or <a href="#/register" class="btn btn-outline-light">Register</a> to access online features.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>