{% if user.is_authenticated %}
<h1>Welcome, {{ user.username }}!</h1>
<p>Here you can access the features of the application:</p>
<div class="card" style="width:50%">
  <button onclick="location.href='#/online-game'" class="btn btn-primary m-2 rounded-pill">Play Online Game</button>
  <button onclick="location.href='#/logout'" class="btn btn-danger m-2 rounded-pill">Logout</button>
</div>
{% else %}
<h1>Welcome to Transcendence</h1>
<p><a href="#/play" class="btn btn-secondary">Play Local</a></p>
<p>Please <a href="#/login" class="btn btn-outline-primary">Login</a> or <a href="#/register" class="btn btn-outline-secondary">Register</a> to access online features.</p>
{% endif %}
