{% load static %}
<!-- TOP OF THE SPA PAGE, THIS PAGE WILL NOT CHANGE , see id="app" for the dynamic content -->
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0 , user-scalable=no">
        <title>Transcendence</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon">

    <!-- Our Global CSS modifications -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- ThreeJS -->
    <script type="importmap">
        {
          "imports": {
            "three": "https://unpkg.com/three@0.161.0/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@0.161.0/examples/jsm/"
          }
        }
    </script>
</head>
<body>

    <!-- Navbar -->
    <nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/" data-link>Pong</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="callsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Play
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="callsDropdown">
                        <li><a class="dropdown-item" href="/local" data-link>Local Game</a></li>
                        <li><a class="dropdown-item" href="/online" data-link>Online Game</a></li>
                    </ul>
                </li>

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if user.is_authenticated %}
                            Account
                        {% else %}
                            Login
                        {% endif %}
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                        {% if user.is_authenticated %}
                                <li><p class="dropdown-item">Profile</p></li>
                                <li><hr class="dropdown-divider"></li>
                                <form id="logoutForm" class="dropdown-item" method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button  class="btn btn-outline-dark" type="submit">Logout</button>
                                </form>
                        
                        {% else %}
                            <li><a class="dropdown-item"  href="/online" class="btn btn-outline-dark" data-link>Login</a>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item"  href="/register" class="btn btn-outline-dark" data-link>Register</a>
                        {% endif %}
                        </li>
                    </ul>
                        <li class="nav-item">
                           <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#musicModal" style="border-radius: 20%; max-width:80px">
                                  🎵</button>
                                  <div class="modal fade" id="musicModal" tabindex="-1" aria-labelledby="musicModalLabel" aria-hidden="true">
                                      <div class="modal-dialog">
                                          <div class="modal-content">
                                                  <h5 class="justify-content-center" id="musicModalLabel">Music Controls</h5>
                                              <div class="modal-body">
                                                  <audio controls>
                                                      <source src="{% static 'assets/music.mp3' %}" type="audio/mpeg">
                                                      Your browser does not support the audio element.
                                                  </audio>
                                              </div>
                                          </div>
                          
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                               </div>
                        </li>
                    </ul>
                </div>
            </div>
    </nav>
    <br>
    <!-- Main Content  to be loaded dynamically -->
    <main id="app" class="container"></main>
    <!--                                        -->
    <!-- Our APP js -->
    <script type="module" src="{% static 'js/main.js' %}"></script>
    <script type="module" id="pong-classic" src="{% static 'js/pong-game.js' %}"></script>
    <script type="module" id="pong-3d" src="{% static 'js/pong3d.js' %}"></script>
    <script type="module" id="pong-4p" src="{% static 'js/pong4p.js' %}"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>
