{% load static %}
<div class="row justify-content-center mb-3">
    <div class="col-12 text-center">
        <h3> Play on the same computer with others </h3>
    </div>
<div class="row align-items-start justify-content-center">

    <!-- Center-aligned Images -->
    <div class="row justify-content-center mb-4">
      <div class="col-auto text-center">
        <img src="{% static 'assets/user.svg' %}" alt="Logo" class="navbar-brand" style="height: 42px;">
      </div>
      <div class="col-auto text-center">
        <img src="{% static 'assets/user.svg' %}" alt="Logo" class="navbar-brand" style="height: 42px;">
      </div>
    </div>
    </div>
        <div class="container row"><p class="mb-3 text-center separator">
            Arcade:</p>
      <div class="row justify-content-center ">
            <div class="col-md-4 col-8 text-center">
                <button id="StartLocalGameButton" type="button" class="btn btn-outline-primary w-100 mb-3" onclick="startPongGame()">Pong Classic</button>
            </div>
        </div>
        <br>
        <div class="row justify-content-center separator">
            <div class="col-md-4 col-8 text-center">
                <button id="StartLocal3DGameButton" type="button" class="btn btn-outline-primary w-100 mb-3" onclick="startPong3DGame()">Pong 3D</button>
            </div>
        </div>
        <div class="row justify-content-center separator">
            <div class="col-md-4 col-8 text-center">
                <button id="StartLocal4PGameButton" type="button" class="btn btn-outline-primary w-100 mb-3" onclick="startPong4PGame()">Pong 4P</button>
            </div>
        </div>
    </div>
</div>
