{% if user.is_authenticated %}
<h1>You are already logged in as {{ user.username }}</h1>
<a href="#/logout" class="btn btn-primary">Logout</a>

{% else %}
<form id="login-form" method="post" action="#/login/" class="form-group mb-2">
  <div class="align-items-center">
    <label for="username" class="form-label col-sm-2 col-form-label no-select">Username</label>
    <input type="text" class="form-control col-sm-4" name="username" id="username" autocomplete="username" maxlength="30" required autofocus>
  </div>

  <div class="align-items-center">
    <label for="password" class="form-label col-sm-2 col-form-label no-select">Password</label>
    <input type="password" class="form-control col-sm-4" name="password" id="password" autocomplete="current-password" required maxlength="30">
  </div>

  <input type="hidden" name="next" value="">
  <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endif %}
