<div class="container overlay">
	<a class="navbar-brand" href="#/">Transcendence</a>
	<button type="button" id="audioMuteBtn" class="btn btn-outline-primary">
		🔊
	</button>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="navbar-collapse" id="navbarNav">
		<ul class="navbar-nav ms-auto">
			<li class="nav-item">
				<a class="nav-link" href="#/play">Play Local</a>
			</li>
			{% if user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link" href="#/dashboard">Dashboard</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#/scoreboard">Scoreboard</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#/tournaments">Tournaments</a>
			</li>
			<li class="nav-item">
				<a class="nav-link link-success" href="#/profile">{{ user.profile.alias }}</a>
			</li>
			<li>
				<a class="nav-link link-danger" href="#/logout">Logout</a>
			</li>
			<li>
				<img src="{{ user.profile.image.url }}" class="rounded-circle account-img" height="32" width="32" loading="lazy" />
			</li>
			{% else %}
			<li class="nav-item">
				<a class="nav-link" href="#/login">Login</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#/register">Register</a>
			</li>
			{% endif %}
		</ul>
	</div>
</div>
