<div class="container overlay">
	<a class="navbar-brand" style="background-color: black;" href="#/">Transcendence</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="navbar-collapse" id="navbarNav">
		<ul class="navbar-nav ms-auto">

			<li class="nav-item">
				<button type="button" id="audioMuteBtn" class="btn btn-primary">
					🔊
				</button>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#/play">Play Local</a>
			</li>
			{% if user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link" href="#/dashboard">Dashboard</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#/scoreboard">Scoreboard</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#/tournaments">Tournaments</a>
			</li>
			<li class="nav-item dropdown">
				<a data-mdb-dropdown-init class="nav-link dropdown-toggle d-flex align-items-center" id="navbarDropdownMenuLink" role="button" aria-expanded="false">
					{{ user.profile.alias }} |<img src="{{ user.profile.image.url }}" class="rounded-circle img-thumbnail" height="20" width="20" loading="lazy" />
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<li>
						<a class="dropdown-item" href="#/profile">My profile</a>
					</li>
					<li>
						<a class="dropdown-item" href="#/settings">Settings</a>
					</li>
					<li>
						<a class="dropdown-item" href="#/logout">Logout</a>
					</li>
				</ul>
			</li>
			<li>
			{% else %}
			<li class="nav-item">
				<a class="nav-link" href="#/login">Login</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#/register">Register</a>
			</li>
			{% endif %}
		</ul>
	</div>
</div>
