<h2>Pong Online</h2>
{% csrf_token %}
<p>Logged in as {{ profile.user.username }}
<p>Also known as {{ profile.alias }}
<img src="{{ profile.image.url }}" class="rounded-circle account-img" alt="Profile Picture" style="width: 100px; height: auto;">
<div id="controls" style="text-align: center;">
  <a class="btn btn-primary" href="/game/createMatch" data-bs-toggle="modal" data-bs-target="#createMatchModal" data-link>Create Match</a>
</div>
<div class="modal fade" id="createMatchModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createMatchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createMatchModalLabel">Creating Match</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Waiting for challenger
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-link="/game/cancelMatch">Cancel</button>
      </div>
    </div>
  </div>
</div>