<h2>Pong Online</h2>
{% csrf_token %}
<p>Logged in as {{ profile.user.username }}
<p>Also known as {{ profile.alias }}
<img src="{{ profile.image.url }}" class="rounded-circle account-img" alt="Profile Picture" style="width: 100px; height: 100px;">
<p class="card-text"><b>Games played:</b> {{ match_stats.played }}</p>
<p class="card-text"><b>Won: <span class="text-success">{{ match_stats.wins }}</span> / Lost: <span class="text-danger">{{ match_stats.losses }}</span></b></p>

<div id="controls" style="text-align: center;">
  <a class="btn btn-primary" href="#/game/join-matchmaking" data-bs-toggle="modal" data-bs-target="#createMatchModal">CHALLENGE!</a>
</div>

<div class="modal fade" id="createMatchModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createMatchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createMatchModalLabel">Creating Match</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-link="#/game/leave-matchmaking"></button>
      </div>
      <div class="modal-body">
        Waiting for challenger
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-link="#/game/leave-matchmaking">Cancel</button>
      </div>
    </div>
  </div>
</div>
