{% load static %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card p-2 bg-secondary-subtle">
                <div class="card-header bg-dark text-success d-flex align-items-center justify-content-between">
                    <button class="btn btn-light btn-sm" onclick="history.back()">Go Back</button>
                    <h5 class="mb-0 glitch" data-text="Play">Play</h5>
                </div>
                <div class="card-body text-center">
                    <div class="row justify-content-center mb-3">
                        <div class="col-12 text-center">
                            <h6 class="mb-0">Play local game</h6>
                        </div>
                    </div>
                    <div class="card-header bg-dark-subtle text-success d-flex align-items-center">
                        <ul class="nav nav-pills mb-2 shadow" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                            <button class="nav-link m-1 btn btn-success active" id="pills-classic-tab" data-bs-toggle="pill" data-bs-target="#pills-classic" type="button" role="tab" aria-controls="pills-classic" aria-selected="true">Classic</button>
                            </li>
                            <li class="nav-item" role="presentation">
                            <button class="nav-link m-1 btn btn-info" id="pills-3dpong-tab" data-bs-toggle="pill" data-bs-target="#pills-3dpong" type="button" role="tab" aria-controls="pills-3dpong" aria-selected="false">3D</button>
                            </li>
                            <li class="nav-item" role="presentation">
                            <button class="nav-link m-1 btn btn-primary" id="pills-4ppong-tab" data-bs-toggle="pill" data-bs-target="#pills-4ppong" type="button" role="tab" aria-controls="pills-4ppong" aria-selected="false">4P</button>
                            </li>
                            <li class="nav-item" role="presentation">
                            <button class="nav-link m-1 btn btn-primary" id="pills-tour-tab" data-bs-toggle="pill" data-bs-target="#pills-tour" type="button" role="tab" aria-controls="pills-tour" aria-selected="false">tournament</button>
                            </li>
                        </ul>
                    </div>

                    <div class="row m-2">
                        <div class="tab-content bg-dark-subtle rounded" id="pills-tabContent">
                            <div class="tab-pane fade bg-dark-subtle show active" id="pills-classic" role="tabpanel" aria-labelledby="pills-classic-tab" tabindex="0">
                                <div class="card-header bg-dark-subtle text-success d-flex justify-content-between align-items-center">
                                    <h5 class="mb-0">Classic Pong</h5>
                                </div>
                                <div class="card-body text-center rounded-2 border border-success my-1">
                                    <div class="row bg-dark justify-content-center mb-4">
                                        <div class="col-auto text-center">
                                            <button class="btn btn-outline-light active" data-bs-toggle="collapse" data-bs-target="#p1-setup" aria-expanded="true" aria-controls="p1-setup">
                                                P 1
                                                <img src="{% static 'assets/user.svg' %}" alt="Logo" class="navbar-brand" height="42">
                                            </button>
                                        </div>
                                        <div class="col-auto text-center">
                                            <button id="p2-toggle-btn" class="btn btn-outline-light" data-bs-toggle="collapse" data-bs-target="#p2-setup" aria-expanded="false" aria-controls="p2-setup">
                                                <img src="{% static 'assets/user.svg' %}" alt="Logo" class="navbar-brand" height="42">
                                                P 2
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="text-center">
                                            <form id="game-form">
                                                <div class="form-floating">
                                                    <select name="arena" id="arena" class="form-select" aria-label="Select arena">
                                                        <option value="1" selected>Classic</option>
                                                    </select>
                                                    <label for="arena">Select Arena</option>
                                                </div>
                                                <div class="input-group collapse show my-2" id="p1-setup">
                                                    <div class="form-floating mx-1">
                                                        <input type="text" class="form-control" name="player1-name" id="player1-name" value="Player 1" autocomplete="off" maxlength="20" placeholder="Player 1" autofocus>
                                                        <label for="player1-name" class="form-label no-select">Player 1 Name</label>
                                                    </div>
                                                    <div class="form-floating mx-1">
                                                        <input type="color" class="form-control form-control-color" id="p1-color" value="#42ff42" title="Choose your paddle color">
                                                        <label for="p1-color" class="form-label">Color</label>
                                                    </div>
                                                    <!-- <div class="form-check form-switch mx-1">
                                                        <input class="form-check-input" type="checkbox" role="switch" id="flexProAI1" checked>
                                                        <label class="form-check-label" for="flexProAI1">pro AI</label>
                                                    </div> -->
                                                </div>
                                                <div class="input-group collapse my-2" id="p2-setup">
                                                    <div class="form-floating mx-1">
                                                        <input type="text" class="form-control" name="player2-name" id="player2-name" autocomplete="off" maxlength="20" placeholder="Player 2">
                                                        <label for="player2-name" class="form-label no-select">Player 2 Name</label>
                                                    </div>
                                                    <div class="form-floating mx-1">
                                                        <input type="color" class="form-control form-control-color" id="p2-color" value="#563d7c" title="Choose your paddle color">
                                                        <label for="p2-color" class="form-label">Color</label>
                                                    </div>
                                                    <span class="input-group-text">
                                                        <div class="form-floating mx-1">
                                                            <div class="form-switch">
                                                                <input type="checkbox" role="switch" class="btn-check" id="flexProAI2" autocomplete="off" checked aria-checked="true">
                                                                <label class="btn btn-outline-success" for="flexProAI2">pro AI</label>
                                                            </div>
                                                        </div>
                                                    </span>
                                                </div>
                                            </form>
                                            <button id="startGame" class="btn btn-success m-1" onclick="location.hash='/pong-classic'">Start Game</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade bg-dark-subtle" id="pills-3dpong" role="tabpanel" aria-labelledby="pills-3dpong-tab" tabindex="0">
                                <a class="btn btn-outline-primary w-100 mb-3" href="#/pong-3d">Pong 3D</a>
                            </div>

                            <div class="tab-pane fade bg-dark-subtle" id="pills-4ppong" role="tabpanel" aria-labelledby="pills-4ppong-tab" tabindex="0">
                                <a class="btn btn-outline-primary w-100 mb-3" href="#/pong-4p">Pong 4P</a>
                            </div>
                            <div class="tab-pane fade bg-dark-subtle" id="pills-tour" role="tabpanel" aria-labelledby="pills-tour-tab" tabindex="0">
                                <div class="mb-3">
                                    <label for="numPlayers" class="form-label">Select number of players</label>
                                    <select id="numPlayers" class="form-select">
                                      <option value="2">2 Players</option>
                                      <option value="4">4 Players</option>
                                      <option value="8">8 Players</option>
                                    </select>
                                  </div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="user1" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                  </div>
                                  <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="user2" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                  </div>
                                  <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="user3" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                  </div>
                                  <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="user4" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                  </div>
                                  <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="user5" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                  </div>
                                  <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="user6" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                  </div>
                                  <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="user7" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                  </div>
                                  <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="user8" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                  </div>
                                <a class="btn btn-outline-primary w-100 mb-3" href="#/local-tour">Local Tournament</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
