{% load static %}
{% csrf_token %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card p-2 shadow-sm">
            <div class="card-body text-center container-background">
                <button class="btn btn-dark" onclick="history.back()">Go Back</button>
                <div class="container-fluid">
                    <div class="card-body text-center" >
                        <ul class="list-group list-group-flush mb-4">
                            <li class="list-group-item list-group-item-dark"><b>User:</b> {{ user.user.username }}</li>
                            <li class="list-group-item list-group-item-dark"><b>Email:</b> {{ user.user.email }}</li>
                            <li class="list-group-item list-group-item-dark"><b>Alias:</b> {{ user.alias }}</li>
                            <li class="list-group-item list-group-item-dark"><b>Status:</b>
                                {% if user.isOnline %}
                                    <span class="text-success">{{ status }}</span>
                                {% else %}
                                    <span class="text-danger">{{ status }}</span>
                                {% endif %}
                            </li>
                            <li class="list-group-item list-group-item-dark">
                                <img src="{{ profilepic }}" class="rounded-circle account-img" alt="Profile Picture" style="width: 100px; height: auto;">
                            </li>
                            <a class="btn btn-success" href="/addFriend" data-link>Add Friend</a>
                            <!-- TODO show one or the other if we are already friends or not -->
                            <a class="btn btn-danger" href="/deleteFriend" data-link>Remove Friend</a>
                            <input type="hidden" id="friend-id" value="{{ user.user.id }}">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        </ul>
                   </div>
                </div>
            </div>
        </div>
    </div>
