
{% if user.is_authenticated %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow bg-secondary-subtle">
                <div class="card-header bg-dark text-success d-flex justify-content-between align-items-center">
                    <button class="btn btn-light btn-sm" onclick="history.back()">Go Back</button>
                    <h5 class="mb-0 glitch" data-text="Edit Profile">Edit Profile</h5>
                </div>
                <div class="card-body text-center">
                    <h1 class="mb-0"> {{ username }} </h1>
                </div>
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills m-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <button class="nav-link active my-1" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="true">User Profile</button>
                      <button class="nav-link my-1" id="v-pills-account-tab" data-bs-toggle="pill" data-bs-target="#v-pills-account" type="button" role="tab" aria-controls="v-pills-account" aria-selected="false">Manage Account</button>
                      <button class="nav-link my-1" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Game Settings</button>
                    </div>

                    <div class="card-body text-center container-background">

                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                <img id="profile-image" src="{{ profilepic }}" class="rounded account-img" alt="Profile Picture" style="width: 210px; height: auto;">
                                <form class="form" id="profile-form" method="POST" enctype="multipart/form-data">
                                    {% if u_form.errors %}
                                        <div class="text-danger">
                                            {{ u_form.errors }}
                                        </div>
                                    {% endif %}
                                    {{ u_form.as_p }}
                                    {% if p_form.errors %}
                                        <div class="text-danger">
                                            {{ p_form.errors }}
                                        </div>
                                    {% endif %}
                                    {{ p_form.as_p }}
                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                    <button class="btn btn-primary my-2" type="submit">Update</button>
                                </form>
                            </div>

                            <div class="tab-pane fade" id="v-pills-account" role="tabpanel" aria-labelledby="v-pills-account-tab">
                                {% if not user.profile.blockchain_address %}
                                    <button id="blockchain-optin" class="btn btn-primary my-2">Blockchain Opt-In</button>
                                {% endif %}
                                {% if user.profile.forty_two_id %}
                                {% else %}
                                    <form class="form needs-validation" id="password-form" method="POST">
                                        {% if cp_form.errors %}
                                            <div class="text-danger">
                                                {{ cp_form.errors }}
                                            </div>
                                        {% endif %}
                                        {{ cp_form.as_p }}
                                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                        <button class="btn btn-primary" type="submit">Change Password</button>
                                    </form>
                                {% endif %}
                                <button id="anonymize-data" class="btn btn-warning my-2">Anonymize Data</button>
                                <button id="delete-account" class="btn btn-danger my-2">Delete Account</button>
                            </div>

                            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">TODO...</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}
    <p>Log in required to view this page.</p>
    <button class="btn btn-primary" onclick="location.href='#/login'">Log in</button>
{% endif %}
