{% if user.is_authenticated %}

<div class="row justify-content-center mt-5">
    <div class="col">
        <div class="card p-2">
            <div class="card-body bg-secondary-subtle container-background overflow-y-auto">
                <div class="row">
                    <div class="card-header bg-dark text-success d-flex justify-content-between align-items-center">
                        <button class="btn btn-light btn-sm" onclick="history.back()">Go Back</button>
                        <h5 class="mb-0 glitch" data-text="Scoreboard">Scoreboard</h5>
                    </div>
                </div>
                <div class="col mt-4">
                    <div class="card-body text-center overflow-y-auto">
                        <div class="table-responsive rounded-2 border border-success">
                            <table class="table table-success table-striped">
                                <thead>
                                    <tr class="table-dark">
                                        <th>Rank</th>
                                        <th>User</th>
                                        <th>Alias</th>
                                        <th>Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>
                                            <button class="btn btn-outline-primary border-info rounded-circle" onclick="location.href='#/profiles/{{ user.username }}'">
                                            <img src="{{ user.profilepic }}" class="rounded-circle" height="32" width="32" loading="lazy" /></button>
                                        </td>
                                        <td>{{ user.alias }}</td>
                                        <td>{{ user.matches_won }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
    <p>Log in required to view this page.</p>
    <button class="btn btn-primary" onclick="location.href='#/login'">Log in</button>
{% endif %}
