{% if user.is_authenticated %}
<div class="row justify-content-center">
    <div class="col-12">
        <div class="card p-2">
            <div class="card-body container-background overflow-y-auto">
                <div class="row">
                    <div class="card-header bg-dark text-success d-flex justify-content-between align-items-center">
                        <button class="btn btn-light btn-sm" onclick="history.back()">Go Back</button>
                        <h5 class="mb-0">Tournaments</h5>
                    </div>
                    <div class="col mt-4">
                        <div class="card-header bg-dark-subtle text-success d-flex align-items-center">
                            <ul class="nav nav-pills mb-2 shadow" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                <button class="nav-link m-1 btn btn-success active" id="pills-join-tab" data-bs-toggle="pill" data-bs-target="#pills-join" type="button" role="tab" aria-controls="pills-join" aria-selected="true">Join</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                <button class="nav-link m-1 btn btn-info" id="pills-watch-tab" data-bs-toggle="pill" data-bs-target="#pills-watch" type="button" role="tab" aria-controls="pills-watch" aria-selected="false">Watch</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                <button class="nav-link m-1 btn btn-primary" id="pills-create-tab" data-bs-toggle="pill" data-bs-target="#pills-create" type="button" role="tab" aria-controls="pills-create" aria-selected="false">Create</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                <button class="nav-link m-1 btn btn-warning" id="pills-archive-tab" data-bs-toggle="pill" data-bs-target="#pills-archive" type="button" role="tab" aria-controls="pills-archive" aria-selected="false" disabled>Archive</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                  <div class="tab-content bg-dark-subtle rounded" id="pills-tabContent">
                    <div class="tab-pane fade bg-dark-subtle show active" id="pills-join" role="tabpanel" aria-labelledby="pills-join-tab" tabindex="0">
                        <div class="card-header bg-dark-subtle text-success d-flex justify-content-between align-items-center">
                            <h5 class="mb-0">Open Tournaments</h5>
                        </div>
                        <div class="table-responsive rounded-2 border border-success">
                            <table class="table table-success table-striped">
                                <thead>
                                    <tr class="table-dark">
                                        <th>Tournament Name</th>
                                        <th>Players / Max. players</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for tournament in tournaments %}
                                    <tr>
                                        <td>
                                            <button class="btn btn-outline-primary border border-info rounded" onclick="location.href='#/in-tournament/{{ tournament.id }}'">
                                            {{ tournament.name }}
                                            </button>
                                        </td>
                                        <td> {{ tournament.participants.count }} / {{ tournament.player_limit }} </td>
                                        <td>
                                            {% if tournament.status == "open" %}
                                                {% if tournament.participants.count < tournament.player_limit %}
                                                    <button class="btn btn-primary" onclick="location.hash='/in-tournament/{{ tournament.id }}'">Join</button>
                                                {% else %}
                                                    Full
                                                {% endif %}
                                            {% elif tournament.status == "closed" %}
                                                Closed
                                            {% elif tournament.status == "started" %}
                                                Started
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade bg-dark-subtle" id="pills-watch" role="tabpanel" aria-labelledby="pills-watch-tab" tabindex="0">
                        <div class="card-header bg-dark-subtle text-success d-flex justify-content-between align-items-center">
                            <h5 class="mb-0">Ongoing Tournaments</h5>
                        </div>
                        <div class="table-responsive rounded-2 border border-success">
                            <table class="table table-success table-striped">
                                <thead>
                                    <tr class="table-dark">
                                        <th>Tournament Name</th>
                                        <th>Participants</th>
                                        <th>Round</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for tournament in tournaments %}
                                    {% if tournament.status == "started" %}
                                    <tr>
                                        <td>
                                            <button class="btn btn-outline-primary border border-info rounded-pill" onclick="location.href='#/in-tournament/{{ tournament.id }}'">
                                            {{ tournament.name }}
                                            </button>
                                        </td>
                                        <td> {{ tournament.participants.count }} </td>
                                        <td>
                                            TODO: Round number
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade bg-dark-subtle" id="pills-create" role="tabpanel" aria-labelledby="pills-create-tab" tabindex="0">
                        <div class="card-header bg-dark-subtle text-success d-flex justify-content-between align-items-center">
                            <h5 class="mb-0">Create Tournament</h5>
                        </div>
                        <div class="card-body bg-secondary-subtle rounded-2 border border-success text-success">
                            <form id="create-tournament-form" class="form" method="POST" enctype="multipart/form-data" action="/game/tournaments/create_tournament_form/">
                                {{ t_form.as_p }}
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                <button id="create-tournament-btn" class="btn btn-primary" type="submit">Create</button>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade bg-dark-subtle" id="pills-archive" role="tabpanel" aria-labelledby="pills-archive-tab" tabindex="0">
                        TODO
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
    <p>Log in required to view this page.</p>
    <button class="btn btn-primary" onclick="location.href='#/login'">Log in</button>
{% endif %}
