{% if user.is_authenticated %}
{% load static %}
{% load custom_filters %}
{% csrf_token %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-dark text-success d-flex justify-content-between align-items-center">
                    <button class="btn btn-light btn-sm" onclick="history.back()">Go Back</button>
                    <h5 class="mb-0 glitch" data-text="Profile">Profile</h5>
                </div>
                <div class="card-body text-center">
                    <img src="{{ profile.image }}" class="account-img rounded border border-3 border-info mb-3" alt="Profile Picture" style="width: 210px; height: auto;">
                    <h3 class="card-title">{{ username }}</h3>
                    <span class="badge my-1 bg-{% if profile.isOnline %}success{% else %}danger{% endif %}">{{ status }}</span>
                    <p class="card-text"><b>Alias:</b> {{ profile.alias }}</p>
                    <p class="card-text"><b>Games played:</b> {{ match_stats.played }}</p>
                    <p class="card-text"><b>Won: <span class="text-success">{{ match_stats.wins }}</span> / Lost: <span class="text-danger">{{ match_stats.losses }}</span></b></p>

                    {% if is_me %}
                        <a class="btn btn-primary" href="#/profile">Edit Profile</a>
                    {% else %}
                        {% if is_friend %}
                            <a class="btn btn-danger" href="#/deleteFriend/{{ profile.user }}/">Remove Friend</a>
                        {% else %}
                            <a class="btn btn-success" href="#/addFriend/{{ profile.user }}/">Add Friend</a>
                        {% endif %}
                        {% if is_blocked %}
                            <a class="btn btn-success" href="#/unblock/{{ profile.user }}/">Unblock</a>
                        {% else %}
                            <a class="btn btn-danger" href="#/block/{{ profile.user }}/">Block</a>
                        {% endif %}
                    {% endif %}

                    <input type="hidden" id="friend-id" value="{{ profile.user }}">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                </div>
                <div class="accordion">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#matchesCollapse" aria-expanded="true" aria-controls="matchesCollapse">
                            Match History
                        </button>
                    </h2>
                    <div id="matchesCollapse" class="accordion-collapse collapse">
                        <div class="accordion-body overflow-y-auto">
                            <div class="list-group">
                                {% for match in match_history %}
                                    <div class="list-group-item">
                                        <p><b>Match Date:</b> {{ match.match.date | format_datetime:"%d-%m-%Y %I:%M" }} UTC</p>
                                        <p><span class="{% if match.winner %}text-success{% else %}text-danger{% endif %}"><b>Scored:</b> {{ match.score }}</span></p>
                                        <p><b>Opponent:</b>
                                            {% if match.get_opponent %}
                                            <button class="btn btn-outline-primary border-info rounded-pill" onclick="location.href='#/profiles/{{ match.get_opponent.user.username }}'">
                                            <img src="{{ match.get_opponent.image.url }}" class="rounded-circle" height="22" width="22" loading="lazy" /> | {{ match.get_opponent.alias }}
                                            </button></p>
                                            {% else %}
                                            <p>Opponent not found</p>
                                            {% endif %}
                                        {% if match.match.tournament %}
                                        <p><b>Tournament:</b>
                                            <button class="btn btn-outline-primary border border-info rounded-pill" onclick="location.hash='#/in-tournament/{{ match.match.tournament.id }}'">
                                                {{ match.match.tournament.name }}
                                            </button>
                                        </p>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#tournamentsCollapse" aria-expanded="true" aria-controls="tournamentsCollapse">
                            Tournament History
                        </button>
                    </h2>
                    <div id="tournamentsCollapse" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="list-group">
                                {% for t in tournament_history %}
                                    <div class="list-group-item">
                                        <p><b>Tournament Name:</b> {{ t.tournament.name }}</p>
                                        <p><b>Concluded:</b> {{ t.tournament.end_date | format_datetime:"%d-%m-%Y %I:%M" }} UTC</p>
                                        <p><b>Place:</b> {{ t.place }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}
    <p>Log in required to view this page.</p>
    <button class="btn btn-primary m-2" onclick="location.href='#/login'">Log in</button>
{% endif %}
