{% load static %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card p-2 shadow-sm">
            <div class="card-body text-center container-background">
                <h2 class="h4 mb-4">Logged in</h1>
                    <!-- <button onclick="window.location.href='/enter'" class="btn btn-primary btn-lg mb-3">Enter</button> -->
                    {% if user_data.displayname %} <!-- 42 User -->
                    <ul class="list-group list-group-flush mb-4">
                        <li class="list-group-item">User: {{ user_data.login }}</li>
                        <li class="list-group-item">Email: {{ user_data.email }}</li>
                        <li class="list-group-item">
                            <img src="{{ user_data.image.versions.medium }}" alt="Profile Image" class="img-thumbnail">
                        </li>
                    </ul>
                    {% elif user_data.login %}      <!-- Regular User -->
                    <div class="container mt-4">
                        <div class="card">
                          <div class="card-body d-flex align-items-center">
                            <!-- Profile Picture on the left -->
                            <div class="me-3">
                              <img src="{% static 'assets/user.svg' %}" alt="Profile Image" class="img-thumbnail"
                                   style="height: 16vh; width: auto;">
                            </div>
                            <!-- User Info on the right -->
                            <div>
                              <ul class="list-group list-group-flush mb-0">
                                <li class="list-group-item">User: {{ user_data.login }}</li>
                                <li class="list-group-item">Email: {{ user_data.email }}</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                    <div class="container-fluid">
                        <div class="row">
                            <a class="btn btn-dark" href="/chat" data-link>Enter Chat</a>
                        </div>
                    </div>
                    <div class="row">
                        <img src="{% static 'assets/42Berlin.svg' %}" alt="42 Berlin Logo"
                                class="img-fluid mt-4">
                    </div>

            </div>
        </div>
    </div>
