Django==5.0.6
django-cors-headers
django-environ
djangorestframework
djangorestframework-simplejwt
drf-spectacular
psycopg2-binary
channels
channels-redis
daphne
pillow
web3>=7.0.0,<8.0.0
py-solc-x
python-dotenv
selenium
